    /*seletor universal*/
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        background-color: rgb(198, 143, 227);
    }

    .ALBUM {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 2vw;
    }

    .ALBUMDEFOTOS img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ALBUMDEFOTOS {
        width: 340px;
        height: 340px;
        border: 10px solid #fff;
        flex-grow: 1;
        box-shadow: 8px 8px 10px rgb(0, 0, 0);
        transition: transform .5s;
    }

    .ALBUMDEFOTOS:hover{
        transform: scale(1.3);
    }

    h1{
        font-size: 80px;
        text-align: center;
        text-shadow: 5px 5px 3px rgb(247, 108, 223);
        font-family: 'Caveat', cursive;
    }

    footer{
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0vh;
        left: 0;
        background: rgb(255, 255, 255);
        text-align: center;
        padding: 5px;
        font-size: 20px;
    }